body {
    background: rgb(131, 244, 127);
    background: linear-gradient(90deg, rgba(131, 244, 127, 1) 18%, rgba(255, 255, 255, 1) 100%);
}

.container {
    display: flex;
    justify-items: center;
    padding: 0px 40px;
}

img {
    width: 60%;
    margin: 20% 0
}


li {
    background-color: rgb(30, 156, 114);
    margin: 3%;
    padding: 2%;
    border: 2px solid none;
    border-radius: 12px;
    list-style: none;
}

button {
    display: block;
    background-color: rgb(30, 156, 114);
    margin-top: 8%;
    margin-left: 2%;
    border: 2px solid green;
    border-radius: 12px;
    color: aliceblue;
}

button:hover {

    background-color: rgb(9, 87, 61)
}

.boton {
    margin: 25% 0;
}