<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/heroes/">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="cabecera">
    <p>
      <%= title %>
    </p>
    <h2 class="visually-hidden">Endopoints</h2>
  </div>
  
  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <!-- <h2 class="display-5 fw-bold">Centered hero</h2> -->
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">1000 registros de wearables en firebase</p>
      <p class="lead mb-4">https://inventario-16c63-default-rtdb.firebaseio.com/wearables.json?print=pretty</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://inventario-16c63-default-rtdb.firebaseio.com/wearables.json?print=pretty"
          class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Visitar</a>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <!-- <h2 class="display-5 fw-bold">Centered hero</h2> -->
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Wearables de la base relacional</p>
      <p class="lead mb-4">http://localhost:3000/wearables</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

        <a href="http://localhost:3000/wearables" class="btn btn-primary btn-lg active" role="button"
          aria-pressed="true">Visitar</a>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <!-- <h2 class="display-5 fw-bold">Centered hero</h2> -->
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Wearables de la base relacional por ID</p>
      <p class="lead mb-4">http://localhost:3000/wearables/id/0</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

        <a href="http://localhost:3000/wearables/id/0" class="btn btn-primary btn-lg active" role="button"
          aria-pressed="true">Visitar</a>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <!-- <h2 class="display-5 fw-bold">Centered hero</h2> -->
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Dispositivos de la base relacional</p>
      <p class="lead mb-4">http://localhost:3000/dispositivos</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="http://localhost:3000/dispositivos" class="btn btn-primary btn-lg active" role="button"
          aria-pressed="true">Visitar</a>

      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <!-- <h2 class="display-5 fw-bold">Centered hero</h2> -->
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Dispositivos de la base relacional por ID</p>
      <p class="lead mb-4">http://localhost:3000/dispositivos/id/0</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="http://localhost:3000/dispositivos/id/0" class="btn btn-primary btn-lg active" role="button"
          aria-pressed="true">Visitar</a>

      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>
